html,
body{
    background-color: #fff;
    font-family: 'Raleway', sans-serif;
}

img {
    max-width: 100%;
}

@media (max-width:650px){
    img {
        height: auto !important;
    }
}

.transition{
    -webkit-transition: all 150ms ease;
    -moz-transition: all 150ms ease;
    -ms-transition: all 150ms ease;
    -o-transition: all 150ms ease;
    transition: all 150ms ease;
}

a,
a:hover,
a:focus{
    text-decoration: none;
    color: #333;
    outline: none !important;
}

.full-width{width: 100%}
.alignleft {
    float: left;
    margin: 0 16px 4px 0;
}
.circle{
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}
.no-margin{margin: 0 !important}
.no-margin-child *{margin: 0 !important}
.no-padding{padding: 0 !important}
.no-padding-child *{padding: 0 !important}

.margin-top-10{margin-top: 10px;}
.margin-top-20{margin-top: 20px;}
.margin-top-30{margin-top: 30px;}
.margin-top-40{margin-top: 40px;}
.margin-top-50{margin-top: 50px;}
.margin-top-60{margin-top: 60px;}
.margin-top-70{margin-top: 70px;}
.margin-top-80{margin-top: 80px;}
.margin-top-80{margin-top: 80px;}
.margin-top-90{margin-top: 90px;}
.margin-top-90{margin-top: 90px;}
.margin-top-100{margin-top: 100px;}

.margin-bottom-10{margin-bottom: 10px;}
.margin-bottom-20{margin-bottom: 20px;}
.margin-bottom-30{margin-bottom: 30px;}
.margin-bottom-40{margin-bottom: 40px;}
.margin-bottom-50{margin-bottom: 50px;}
.margin-bottom-60{margin-bottom: 60px;}
.margin-bottom-70{margin-bottom: 70px;}
.margin-bottom-80{margin-bottom: 80px;}
.margin-bottom-80{margin-bottom: 80px;}
.margin-bottom-90{margin-bottom: 90px;}
.margin-bottom-90{margin-bottom: 90px;}
.margin-bottom-100{margin-bottom: 100px;}

.margin-right-10{margin-right: 10px;}
.margin-right-20{margin-right: 20px;}
.margin-right-30{margin-right: 30px;}
.margin-right-40{margin-right: 40px;}
.margin-right-50{margin-right: 50px;}
.margin-right-60{margin-right: 60px;}
.margin-right-70{margin-right: 70px;}
.margin-right-80{margin-right: 80px;}
.margin-right-80{margin-right: 80px;}
.margin-right-90{margin-right: 90px;}
.margin-right-90{margin-right: 90px;}
.margin-right-100{margin-right: 100px;}

.margin-left-10{margin-left: 10px;}
.margin-left-20{margin-left: 20px;}
.margin-left-30{margin-left: 30px;}
.margin-left-40{margin-left: 40px;}
.margin-left-50{margin-left: 50px;}
.margin-left-60{margin-left: 60px;}
.margin-left-70{margin-left: 70px;}
.margin-left-80{margin-left: 80px;}
.margin-left-80{margin-left: 80px;}
.margin-left-90{margin-left: 90px;}
.margin-left-90{margin-left: 90px;}
.margin-left-100{margin-left: 100px;}

.padding-top-10{padding-top: 10px;}
.padding-top-20{padding-top: 20px;}
.padding-top-30{padding-top: 30px;}
.padding-top-40{padding-top: 40px;}
.padding-top-50{padding-top: 50px;}
.padding-top-60{padding-top: 60px;}
.padding-top-70{padding-top: 70px;}
.padding-top-80{padding-top: 80px;}
.padding-top-80{padding-top: 80px;}
.padding-top-90{padding-top: 90px;}
.padding-top-90{padding-top: 90px;}
.padding-top-100{padding-top: 100px;}

.padding-bottom-10{padding-bottom: 10px;}
.padding-bottom-20{padding-bottom: 20px;}
.padding-bottom-30{padding-bottom: 30px;}
.padding-bottom-40{padding-bottom: 40px;}
.padding-bottom-50{padding-bottom: 50px;}
.padding-bottom-60{padding-bottom: 60px;}
.padding-bottom-70{padding-bottom: 70px;}
.padding-bottom-80{padding-bottom: 80px;}
.padding-bottom-80{padding-bottom: 80px;}
.padding-bottom-90{padding-bottom: 90px;}
.padding-bottom-90{padding-bottom: 90px;}
.padding-bottom-100{padding-bottom: 100px;}

.padding-right-10{padding-right: 10px;}
.padding-right-20{padding-right: 20px;}
.padding-right-30{padding-right: 30px;}
.padding-right-40{padding-right: 40px;}
.padding-right-50{padding-right: 50px;}
.padding-right-60{padding-right: 60px;}
.padding-right-70{padding-right: 70px;}
.padding-right-80{padding-right: 80px;}
.padding-right-80{padding-right: 80px;}
.padding-right-90{padding-right: 90px;}
.padding-right-90{padding-right: 90px;}
.padding-right-100{padding-right: 100px;}

.padding-left-10{padding-left: 10px;}
.padding-left-20{padding-left: 20px;}
.padding-left-30{padding-left: 30px;}
.padding-left-40{padding-left: 40px;}
.padding-left-50{padding-left: 50px;}
.padding-left-60{padding-left: 60px;}
.padding-left-70{padding-left: 70px;}
.padding-left-80{padding-left: 80px;}
.padding-left-80{padding-left: 80px;}
.padding-left-90{padding-left: 90px;}
.padding-left-90{padding-left: 90px;}
.padding-left-100{padding-left: 100px;}

.inline{display: inline}
.block{display: block}
.inline-block{display: inline-block}
.hide{display: none}
.absolute{position: absolute;z-index: 1}
.relative{position: relative;z-index: 1}
.fixed{position: fixed;z-index: 1}
.full{width: 100%}
.center{text-align: center;margin: auto}
.align-left{text-align: left}
.align-right{text-align: right}
.front{z-index: 10}
.sur-front{z-index: 11}
.f-right{float: right}
.f-left{float: left}
.f-none{float: inherit}
.bottom{bottom: 0px}
.top{top: 0px}
.left{left: 0px}
.right{right: 0px}
.uppercase{text-transform: uppercase}
ul.no-dot{list-style: none}
.overflow-hidden{overflow: hidden}
.background-cover{background-size: cover}
.background-center{background-position: center}

table.spaced-td thead tr td,
table.spaced-td tfoot tr td{padding: 10px 20px !important}
table.spaced-td tbody tr td{padding: 10px 20px 0 !important}
table.vertical-align-middle tr td{vertical-align: middle}
table.separate{border-collapse: separate;border-spacing: 2px 0}
table.no-border tr td{border: none !important}

.border-right-1{border-right:1px solid}
.border-right-2{border-right:2px solid}
.border-right-3{border-right:3px solid}
.border-right-4{border-right:4px solid}
.border-right-5{border-right:5px solid}
.border-right-6{border-right:6px solid}
.border-right-7{border-right:7px solid}
.border-right-8{border-right:8px solid}
.border-right-9{border-right:9px solid}
.border-right-10{border-right:10px solid}

.border-left-1{border-left:1px solid}
.border-left-2{border-left:2px solid}
.border-left-3{border-left:3px solid}
.border-left-4{border-left:4px solid}
.border-left-5{border-left:5px solid}
.border-left-6{border-left:6px solid}
.border-left-7{border-left:7px solid}
.border-left-8{border-left:8px solid}
.border-left-9{border-left:9px solid}
.border-left-10{border-left:10px solid}

.border-top-1{border-top:1px solid}
.border-top-2{border-top:2px solid}
.border-top-3{border-top:3px solid}
.border-top-4{border-top:4px solid}
.border-top-5{border-top:5px solid}
.border-top-6{border-top:6px solid}
.border-top-7{border-top:7px solid}
.border-top-8{border-top:8px solid}
.border-top-9{border-top:9px solid}
.border-top-10{border-top:10px solid}

.border-bottom-1{border-bottom:1px solid}
.border-bottom-2{border-bottom:2px solid}
.border-bottom-3{border-bottom:3px solid}
.border-bottom-4{border-bottom:4px solid}
.border-bottom-5{border-bottom:5px solid}
.border-bottom-6{border-bottom:6px solid}
.border-bottom-7{border-bottom:7px solid}
.border-bottom-8{border-bottom:8px solid}
.border-bottom-9{border-bottom:9px solid}
.border-bottom-10{border-bottom:10px solid}

.hide-labels label{display: none !important}

.separate-10{height: 10px;}
.separate-20{height: 20px;}
.separate-30{height: 30px;}
.separate-40{height: 40px;}
.separate-50{height: 50px;}
.separate-60{height: 60px;}
.separate-70{height: 70px;}
.separate-80{height: 80px;}
.separate-80{height: 80px;}
.separate-90{height: 90px;}
.separate-90{height: 90px;}
.separate-100{height: 100px;}