/* roboto-condensed-300 - latin */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local(''),
       url('../fonts/roboto-condensed-v19-latin-300.woff2') format('woff2'),
       url('../fonts/roboto-condensed-v19-latin-300.woff') format('woff');
}
/* roboto-condensed-regular - latin */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(''),
       url('../fonts/roboto-condensed-v19-latin-regular.woff2') format('woff2'),
       url('../fonts/roboto-condensed-v19-latin-regular.woff') format('woff');
}
/* roboto-condensed-700 - latin */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local(''),
       url('../fonts/roboto-condensed-v19-latin-700.woff2') format('woff2'),
       url('../fonts/roboto-condensed-v19-latin-700.woff') format('woff');
}